@import "../variable.scss";

.product {
  background: $white;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  position: relative;
  h2 {
    font-size: $fs_4;
    font-weight: $fw-400;
    color: $swatch_9;
  }
  span {
    font-weight: $fw-600;
  }

  img {
    width: 100%;
    margin-top: 10px;
  }
  button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: 1px solid $swatch_4;
    color: $swatch_4;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 4px;
  }
}
