// Colors
$swatch_1: #f6f6f6;
$swatch_2: #cabdb0;
$swatch_3: #0b1614;
$swatch_4: #828a82;
$swatch_5: #db4113;
$swatch_6: #8b2507;
$swatch_7: #534d47;
$swatch_8: #ededed;
$swatch_9: #115e5c;
$swatch_10: #aed1d4;

$white: #fff;

// Font size
$fs_1: 24px;
$fs_2: 18px;
$fs_3: 16px;
$fs_4: 14px;

// font weight
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
